.header {
    position: fixed;
    z-index: 9999;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 30px;
    transform: translateY(-150px);
    transition: transform 0.75s ease;
}

.headerVisible {
    transform: translateY(0px);
}

.nav {
    background: var(--fourth--color);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 70px;
    margin-top: 20px;
    a, button {
        border-radius: 55px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--secondary-color);
        font-family: Sansation, sans-serif;
        height: 100px;
        width: 150px;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        position: relative;
        z-index: 5;
    }
    button {
        background: none;
        border: none;
    }
}

.line {
    display: block;
    width: 180px;
    height: 5px;
    border-radius: 106px;
    background: var(--fourth--color);
}

.active {
    background: var(--tertiary-color);
    border-radius: 4px;
    padding: 0.5rem 1rem;
}
