:root {
  --primary-color: #f9a600;
  --secondary-color: #3b3b3b;
  --tertiary-color: #fff2e0;
  --fourth--color: #ffd47d;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
    font-family: 'Sansation Light';
    src: url('../assets/fonts/Sansation-Light/WOFF2/Sansation_Light.woff2') format('WOFF2'),
            url('../assets/fonts/Sansation-Light/WOFF/Sansation_Light.woff') format('WOFF')
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--tertiary-color);
  font-family: 'Sansation Light', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--secondary-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  width: 100%;
  padding-inline: 40px;
}

.h1 {
  color: var(--secondary-color);
  font-family: 'Sansation Regular', sans-serif;
  font-size: 129px;
  text-align: center;
}

.h1span {
  color: var(--primary-color);
  font-family: 'Sansation Regular', sans-serif;
  font-size: 129px;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

.button {
  cursor: pointer;
  background: none;
  border: 1px solid var(--primary-color);
  padding: 15px 20px;
  border-radius: 8px;
  color: #3B3B3B;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 100% */
  letter-spacing: 2.4px;
  text-transform: uppercase;
  transition: color 0.500s ease, background-color 0.500s ease;
}

.button:hover {
  background: var(--primary-color);
}



img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul,
li {
  list-style: none;
}
