.phraseWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    color: var(--secondary-color);
    font-family: Sansation Light, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
}

.phraseWrapper__select {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    font-family: Sansation Light, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    margin: 0 10px;
    select, input {
        background-color: transparent;
        border: none;
        color: var(--primary-color);
        font-family: Sansation Light, sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        cursor: pointer;
        appearance: none;
        width: auto;
    }
    input {
        max-width: 200px;
    }
}

.phraseWrapper__select select::placeholder,
.phraseWrapper__select input::placeholder {
    color: var(--primary-color);
}

.buttonContainer {
    margin-top: 50px;
    display: flex;
    gap: 20px;
}