.section {
    width: 50%;
}

.subTitle {
    color: var(--secondary-color);
    font-family: Sansation, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
}

.containerButton {
    display: flex;
    gap: 20px;
}

.contactForm {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 50px;
}

.sendButton {
    max-width: 200px;
}

.input, .textarea {
    border-radius: 9px;
    border: 1px solid #F9A600;
    background: #FFF;
    width: 100%;
    padding: 12px 20px;
    font-family: Roboto, sans-serif;
}