.buttonsContainer {
    margin-top: 30px;
    grid-column: 1/13;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 20px;
    .active {
        background: var(--primary-color);
    }
}
