.h1 {
    grid-column: 1/13;
    margin-top: 25vh;
    color: var(--secondary-color);
    text-align: center;
    font-family: Sansation, sans-serif;
    font-size: 129px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.reason {
    grid-column: 1/13;
    color: var(--secondary-color);
    text-align: center;
    font-family: Sansation, sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}