.wrapper {
    margin-top: 15vh;
}

.h1 {
    color: #3B3B3B;
    font-family: Sansation, sans-serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    grid-column: 1/13;
}

.h2 {
    color: #3B3B3B;
    font-family: Roboto, sans-serif;
    grid-column: 1/13;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px; /* 100% */
    letter-spacing: 2.4px;
    text-transform: uppercase;
}
